doctype html
html
  head
    meta(charset='utf-8')
    title The Growling Rabbit
    link(rel='stylesheet', href="../stylesheets/style.css")
    link(rel='stylesheet', href="../../node_modules/bootstrap/dist/css/bootstrap.min.css")
    //- link(rel='stylesheet', href="/stylesheets/style.css")
  body
    p
      | Test text
      | More test takes with pipes as line breaks
  //-   include ./includes/ribbon.jade
  //-   #container
  //-     include ./includes/header.jade
  //-     block content
  //-     include ./includes/footer.jade
    script(src='/client.js')
  //-   include ./includes/ga.jade