<!DOCTYPE html>
<html>
  <head>
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Specializing in comfort including hearty brunch, sweet treats, and refreshing drinks! ">
    <meta name="author" content="The Growling Rabbit">
    <link rel="apple-touch-icon" sizes="57x57" href="img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/imgapple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="img/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
    <link rel="manifest" href="img/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
    <title>The Growling Rabbit</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
   <body ng-app="growlingRabbit">
      <div class="brand">The Growling Rabbit</div>
      <div class="address-bar" align="center"> 5938 N. Broadway | Chicago, IL 60660 | 773.654.1444 <br><br>
      <div class="fb-like" data-href="https://www.facebook.com/pages/The-Growling-Rabbit-a-cafe/190086097702427" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
      <br><br>
      <h2> Monday: Closed </h2>
      <h2> Tuesday - Sunday: 8am - 10pm </h2>
      <div class= "address-bar"> 8am - 10pm </div>
      <div class="address-bar" align="center"> Brunch: 8am - 3pm | Cookie & Coffee Hour: 3pm -4pm | Supper: 4pm -10pm <br><br>

      </div>
     <!--  <h2> New Brunch Hours </h2>
      <div class= "address-bar"> 8am - 3:30pm </div>
      </div> -->
      <!-- Navigation -->
      <nav class="navbar navbar-default" role="navigation">
          <div class="container">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                  <a class="navbar-brand" href="/#/home">The Growling Rabbit</a>
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
         <!--      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
=======
              <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
>>>>>>> d83e37d602d5c2373cc4ad1a474ed55826621d65
                  <ul class="nav navbar-nav">
                      <li>
                          <a href="/#/home">Home</a>
                      </li>
                       <li>
                          <a href="/#/menu">Menu</a>
                      </li>
                      <li>
                          <a href="/#/contact">Contact</a>
                      </li>
                  </ul>
              </div> -->
              <!-- /.navbar-collapse -->
          </div>
          <!-- /.container -->
      </nav>
      <ui-view></ui-view>
      <script type="text/ng-template" id="/home.html">  
      <div class="container">
          <div class="row">
              <div class="box">
                  <div class="col-lg-12 text-center">
                      <div id="carousel-example-generic" class="carousel slide">
                          <!-- Indicators -->
               <!--            <ol class="carousel-indicators hidden-xs">
                              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                          </ol> -->

                          <!-- Wrapper for slides -->
                          <div class="carousel-inner">
                              <div class="item active">
                                  <img class="img-responsive img-full"> 
                                  <div class="video-container">
                                    <img class="img-responsive img-full" src="img/ribbon.jpg" alt="">
                                  <div>
                              </div>
                          <!--     <div class="item">
                                  <img class="img-responsive img-full" src="img/salad.jpg" alt="">
                              </div>
                              <div class="item">
                                  <img class="img-responsive img-full" src="img/front.jpg" alt="">
                              </div> -->
                          </div>

                          <!-- Controls -->
                          <!-- <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                              <span class="icon-prev"></span>
                          </a>
                          <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                              <span class="icon-next"></span>
                          </a> -->
                      </div>
                      <h2 class="brand-before">
                          <small>Welcome to</small>
                      </h2>
                      <h1 class="brand-name">The Growling Rabbit</h1>
                      <hr class="tagline-divider">
                  </div>
              </div>
          </div>

          <div class="row">
            <!--   <div class="box"> -->
                  <div class="col-lg-12">
                      <hr>
                      <h2 class="intro-text text-center">Welcome to the Growling Rabbit </h2>
                      <hr>
                      <img class="img-responsive img-border img-left" src="img/logo.jpg" alt="">
                      <hr class="visible-xs">
                      <p>
                          The wait is over The Growling Rabbit is open at 5938 N. Broadway Chicago, IL 60660 in Chicgao's Edgewater neighborhood. 
                      </p>
                     <!--  <p> -->

                    <!--   As a result of our local, seasonal ingredients, our menu also rotates seasonally taking full 

                      advantage of the harvest. The Growling Rabbit offers heartier meals in the winter like pot roast 

                      with root vegetables and lighter fares in the summer such as the lemon and herb cream cheese 

                      roasted chicken wrap. Our bake shop, Sweet Attila’s, produces fresh baked goods daily 

                      incorporating the same philosophy as the café. Why are there no blueberry muffins in January, 

                      you ask? Not only do we appreciate the “pop” of fresh, plump blueberries from our farmer 

                      friends but we also try to limit the footprints our ingredients travel and resources used as they 

                      make their way to our kitchen. The Growling Rabbit would like to show our customers that it’s 

                      possible to craft healthy meals using fresh ingredients as seasons change, and we want that 

                      idea to become a part of the community. 

                      </p>

                      <p>

                      There are a lot of things that make us different; among them are our fabulous, multi-

                      talented staff, our strong relationships with local artisans, and the way that we make carrot 

                      cake. We invite you to stop in, grab a bacon-cheddar scone and fresh cup of coffee and relax in 

                      front of our wall-to-wall windows; it’s a great opportunity to people watch. Or, decompress 

                      from a busy day on our patio in the summertime, as the breezes gently blow off Lake Michigan, 

                      with one of our many entrees and a glass of our refreshing Prairie Passion iced tea. 

                      If you want to know more about the local farmers we work with, you can find that 

                      information here. 

                      </p>

                      <p>

                      Sweet Atilla’s - A Bake Shop is housed in the Growling Rabbit and yes, we do special 

                      orders and wholesale, too. Stop in today, or call us! -->

   <!--                    </p> -->
<!-- 
                          Thanks to all for your continued support of The Growling Rabbit. We will be up and running in our new home at 5938 N Broadway soon.  -->

                  <!--     </p> -->
                      
                  </div>
              </div>
  <!--         </div>
      </div> -->
      <!-- /.container -->
      </script>
      <script type="text/ng-template" id="/menu.html"> 
        <div class="row">
          <div class="box">
                  <div class="col-lg-12"> 
                    <img src="img/menu_1.png" class= "responsive-image" border="0" alt=""> </img>
                    <img src="img/menu_2.png" class= "responsive-image" border="0" alt=""> </img>
                  </div>
                </div>
              </div>
      </script>
       <script type="text/ng-template" id="/contact.html"> 
         <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Contact
                        <strong>Growling Rabbit</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-md-8">
                    <!-- Embedded Google Map using an iframe - to select your location find it on Google maps and paste the link as the iframe src. If you want to use the Google Maps API instead then have at it! -->
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d47340.17959673374!2d-87.39014236303713!3d42.13399468410354!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa9c9de0db6f489ef!2sThe+Growling+Rabbit!5e0!3m2!1sen!2sus!4v1435612797156" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <div class="col-md-4">
                    <p>Phone:
                        <strong>773.654.1444</strong>
                    </p>
                    <p>Email:
<<<<<<< HEAD
                        <strong><a href="mailto:Laura@growlingrabbit.com">Laura@growlingrabbit.com</a>
=======
                        <strong><a href="mailto:Laura@sweetattilas.com">Laura@thegrowlingrabbit.com</a>
>>>>>>> d83e37d602d5c2373cc4ad1a474ed55826621d65
                    <p>Address:
                        <strong> 5938 N. Broadway </strong>
                            <br>Chicago, IL 60660
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
      </script>
      <script type="text/ng-template" id="/admin.html"> 

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Admin</h1>
                        <div class="col-lg-6">
                          <div class="panel panel-default">
                              <div class="panel-heading">
                                  <i class="fa fa-bell fa-fw"></i> Edit Home Page Image
                              </div>
                              <!-- /.panel-heading -->
                              <div class="panel-body">
                                  <div class="list-group">
                                      <img class="img-responsive img-full" src="img/plate.jpg" alt="">
                                  </div>
                                  <!-- /.list-group -->
                                  <form id        =  "uploadForm"
                                   enctype   =  "multipart/form-data"
                                   action    =  "/api/photo"
                                   method    =  "post" >
                                     <input type="file" name="userPhoto" />
                                     <input type="submit" value="Upload Image" name="submit">
                                  </form>
                              <!--     <a href="#" class="btn btn-default btn-block">View All Alerts</a> -->
                              </div>
                              <!-- /.panel-body -->
                          </div>
                        </div>
                      <div class="col-lg-6">
                          <div class="panel panel-default">
                              <div class="panel-heading">
                                  <i class="fa fa-bell fa-fw"></i> Edit Home Page Description
                              </div>
                              <!-- /.panel-heading -->
                              <div class="panel-body">
                                  <div class="list-group">
                                          <div class="form-group">
                                            <label>Text area</label>
<!--                                              <input type="text" id="homePage Edit"
                                                     enctype   =  "application/x-www-form-urlencoded"
                                                     action    =  "/api/text"
                                                     method    =  "post" name="homePage"> -->
                                             <textarea class="form-control" rows="3">The Growling Rabbit is a neighborhood café committed to using locally sourced ingredients from local farmers to create healthy comfort food. Located in Chicago’s Rogers Park neighborhood, we try to support the “farm to table” philosophy whenever possible and when something delicious is in season, we strive to incorporate it into our wares to allow you, the patrons, to experience the season’s bounty in a unique way.</textarea>
                                              <input type="submit" value="Edit Home Page" name="submit">
                                            <!-- <textarea class="form-control" rows="3" height="100%" name="homePage"></textarea> -->
                                        </div>
                                  </div>
                                  <!-- /.list-group -->
                              </div>
                              <!-- /.panel-body -->
                          </div>
                        </div>

  
                   

                        <!-- Form to upload an image to the server -->
                        
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
          

        <!-- Form to add text to the home page -->
      <!--   <form id        =  "homePage Edit"
             enctype   =  "application/x-www-form-urlencoded"
             action    =  "/api/text"
             method    =  "post"
        >

        <input type="text" value = "this or that" name="homePage" />
        <input type="submit" value="Edit Home Page" name="submit">
        </form> -->
      </script>
       <script type="text/ng-template" id="/gallery.html"> 
       <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">Brunch Gallery</h1>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
        </div>
        </script>
        <script type="text/ng-template" id="/login.html"> 
                <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Sign In</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="E-mail" name="email" type="email" autofocus>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Password" name="password" type="password" value="">
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                    </label>
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                                <a href="index.html" class="btn btn-lg btn-success btn-block">Login</a>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        </script>
      <footer>
          <div class="container">
              <div class="row">
                  <div class="col-lg-12 text-center">
                      <p>Copyright &copy; The Growling Rabbit 2017</p>
                  </div>
              </div>
          </div>
          <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-20234323-1', 'auto');
            ga('send', 'pageview');
          </script>
      </footer>
      <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
      <script src="/javascripts/angularApp.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
      <!-- Script to Activate the Carousel -->
      <script>
      $('.carousel').carousel({
          interval: 5000 //changes the speed
      })
      </script>
      <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=399575120226034";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
  </body>
</html>
