doctype html
html
  head
    meta(charset='utf-8')
    title The Growling Rabbit
    link(rel='stylesheet', href="zurb/css/foundation.css")
    script(src='/zurb/js/foundation.min.js')
  div(class='icon-bar five-up')
    a.item
      //- img(src= "http://" + row.Image)
      label home
  body
    p
      | Test text
      | More test takes with pipes as line breaks
  //-   include ./includes/ribbon.jade
  //-   #container
  //-     include ./includes/header.jade
  //-     block content
  //-     include ./includes/footer.jade
    script(src='/client.js')
  //-   include ./includes/ga.jade